@font-face {
    font-family: 'exo_2bold';
    src: url('https://www.agenciaoficina.com/landing-canon/g1100/css/exo2-bold-webfont.woff2') format('woff2'),
         url('https://www.agenciaoficina.com/landing-canon/g1100/css/exo2-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exo_2light';
    src: url('https://www.agenciaoficina.com/landing-canon/g1100/css/exo2-light-webfont.woff2') format('woff2'),
         url('https://www.agenciaoficina.com/landing-canon/g1100/css/exo2-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exo_2medium';
    src: url('https://www.agenciaoficina.com/landing-canon/g1100/css/exo2-medium-webfont.woff2') format('woff2'),
         url('https://www.agenciaoficina.com/landing-canon/g1100/css/exo2-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body
{
	margin: 0;
	padding: 0;
	background-color: #caccce;
}

.red-ribbon
{
	background-color: #c2192c;
	padding: 10px 0 10px 35px;
}

.container
{
	width: 800px;
	margin: 0 auto;
	position: relative;
}

.header
{
	position: relative;
	height: 840px;
	background: url(../images/header-5.jpg) center top no-repeat;
}

.maxx-tinta {
    color: white;
    font-size: 25px;
    font-family: 'exo_2light';
    margin-right: 46px;
    margin-top: 20px;
    display: inline-block;
    float: right;
}

.impressora-canon
{
	position: absolute;
	width: 503px;
	height: 279px;
	background: url(../images/canon_impressora_G1100.png) center center no-repeat;
	bottom: 20px;
	left: 160px;
	opacity: 0;
	top: 500px;
}

.impressora-canon-2
{
	position: absolute;
	width: 381px;
	height: 169px;
	background: url(../images/canon_impressora_2.png) center center no-repeat;
	top: 215px;
	left: 56px;
	z-index: 0;
}

.impressora-canon-2-2
{
	position: absolute;
	width: 381px;
	height: 169px;
	background: url(../images/canon_impressora_2-2.png) center center no-repeat;
	top: 212px;
	left: 56px;
	z-index: 2;
}

.rendimento
{
	background: url(../images/rendimento-3.png) #caccce center center no-repeat;
	height: 600px;
	margin-top: 50px;
	position: relative;
}

.rendimento-papel
{
	background: url(../images/papel-3.png) center center no-repeat;
	width: 252px;
	height: 106px;
	position: absolute;
	z-index: 0;
}

.rendimento-titulo
{
	font-family: 'exo_2medium';
	text-align: center;
	font-size: 28px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 0;
}

.over-papel {
    background: url(../images/over-papel-23.png) center center no-repeat;
    width: 414px;
    height: 222px;
    position: absolute;
    top: 269px;
    left: 152px;
    z-index: 1;
    border: 1px white;
}

.overlay
{
	background: url(../images/overlay.png) center top no-repeat;
	width: 172px;
	height: 50px;
	position: absolute;
	top: 352px;
	left: 150px;
	z-index: 2;
}

.conectividade-papel
{
	background: url(../images/papel-2.jpg) center center no-repeat;
	height: 114px;
	width: 172px;
	position: absolute;
	z-index: 1;
	top: 352px;
	left: 150px;
}

.tarja
{
	text-align: center;
	color: white;
	padding: 35px 0;
	font-size: 24px;
	font-family: 'exo_2medium';
	background-color: #182d69;
}

.conectividade
{
	background: url(../images/bg-conectividade.jpg) center center no-repeat;
	height: 599px;
	position: relative;

}

.conectividade-title
{
	
	position: absolute;
	left: 80px;
	top: 40px;
}
.conectividade-title h1
{
	font-weight: normal;
	font-size: 36px;
}
.conectividade-title h2
{
	font-size: 32px;
}
.conectividade-title h1,
.conectividade-title h2
{
	font-family: 'exo_2light';
	color:  #4E4E4E;
	line-height: 12px;
}

.phone
{
	width: 296px;
	height: 487px;
	position: absolute;
	right: 0px;
	top: 112px;
	background: url(../images/phone.png) 0 0 no-repeat;
}

.tarja-magento
{
	background: url(../images/tarja-magento.png) center center no-repeat;
	height: 168px;
	z-index: 1;
	position: absolute;
	width: 100%;
}

.devices-magento
{	
	background: url(../images/devices-magento.png) center center no-repeat;
	width: 425px;
	height: 96px;
	top: -10px;
	position: absolute;
}

.devices-title
{
	position: absolute;
	right: 40px;
	top: 20px;
	text-align: right;
}

.devices-title h1,
.devices-title h2
{
	color: white;
	line-height: 12px;
	font-family: 'exo_2light';
}

.devices-title h1
{
	font-size: 36px;
	font-weight: normal;
}
.devices-title h2
{
	font-size: 34px;
	font-weight: bold;

}

/* BAIXO CUSTO */

.baixo-custo
{
	background-color: #fad817;
	position: relative;
	height: 880px;
	color:  black;
}

.baixo-custo-title
{
	margin-top: 100px;
	text-align: center;
}
.baixo-custo-title h1
{
	font-weight: normal;
	font-size: 36px;
}
.baixo-custo-title h2
{
	font-size: 32px;
}
.baixo-custo-title h1,
.baixo-custo-title h2
{
	font-family: 'exo_2light';
	line-height: 12px;
	text-align: center;
}

.baixo-desc p
{
	color: black;
	font-family: 'exo_2medium';
	font-size: 18px;
	text-align: left;
	margin-top: 0;
}

.baixo-desc {
    float: left;
    margin-top: 400px;
    margin-left: 47px;
}

.baixo-desc2 {
    
    
    margin-left: 95px;
}

.baixo-desc
{
	width: 350px;
	font-size: 32px;
	margin-left: 95px;
	margin-bottom: 20px;
}

.baixo-desc2
{
	width: 800px;
	text-align: left;
	font-family: 'exo_2medium';
	clear: both;
	margin-top: 30px;
}

.tarja-laranja
{
	background-color: #eda00f;
	height: 400px;
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 0;
	text-align: center;
}

.baixo-desc2 div
{
	
	display: block;
	height: 48px;
	float: left;
	margin-right: 45px;
}

.baixo-desc2 div span
{
	float: left;
}

.impressao-sem-borda {
    font-family: 'exo_2medium';
    position: absolute;
    top: 494px;
    left: 237px;
    height: 100px;
}

.baixo-desc2 .title, .impressao-sem-borda .title
{
	font-size: 26px;
	display: inline;

}

.baixo-desc2 .title
{
	color: black;
	line-height: 18px;

}

.impressao-sem-borda .title
{
	color: black;
	line-height: 22px;

}

.impressora-canon-3
{

	width: 100%;
	height: 284px;
	background: url(../images/canon_impressora_3.png) center center no-repeat;
	top: 110px;
	position: absolute;
}

.over-papel-2
{
	background: url(../images/over-papel-2.png) center center no-repeat;
	height: 421px;
	width: 100%;
	position: absolute;
}

.folha-01
{
	background: url(../images/folha-01.png) center center no-repeat;
	width: 261px;
	height: 219px;
	position: absolute;
	right: -19px;
	top: 250px;
}

.folha-02
{
	background: url(../images/folha-02-2.png) center center no-repeat;
	width: 261px;
	height: 219px;
	position: absolute;
	left: 0px;
	top: 85px;
}

.folha-03
{
	background: url(../images/folha-03.png) center center no-repeat;
	width: 391px;
	height: 235px;
	position: absolute;
	left: 258px;
	top: 113px;
}

.folha-04
{
    background: url(../images/folha-04-2.png) center center no-repeat;
    width: 282px;
    height: 143px;
    position: absolute;
    left: 118px;
    top: 7px;
}

.folha-01, .folha-02, .folha-03, .folha-04 {display: none;}

.wifi
{
  width: 100px;
  height: 94px;
  background: url(../images/wifi.png) left center;
  animation: play 1s steps(4) infinite;
  top: 400px;
  right: 300px;
  position: absolute;
}

@keyframes play {
   100% { background-position: -400px; }
}

.ico
{
	background-image: url(../images/features.png);
	background-repeat: no-repeat;
	width: 85px;
	height: 47px;
	float: left;
}

.borda
{
	background-position: -255px 0;
}

.usb
{
	background-position: 0px -6px;
}

.modo
{
	background-position: -85px 0;
}

.fotos
{
	background-position: -170px 0;
}

.facil-carregar
{	
	border-top: 2px solid #7f4b00;
	width: 100%;
	background: url(../images/facil-carregar-3.jpg) center top no-repeat #d2d2d2;
	height: 566px;
	position: relative;


}

.facil-carregar .title
{
	color: white;
	font-family: 'exo_2light';
	font-size: 34px;
	top: 55px;
	left: 50px;
	position: absolute;
}

.faixa-maxx-tinta
{
	text-align: center;
	background-color: #737373;
	padding: 35px;
}


.zoom
{	
	width: 100%;
	background: url(../images/zoom-2.jpg) center top no-repeat;
	height: 800px;
	position: relative;


}

.zoom .title {
    color: white;
    font-family: 'exo_2light';
    font-size: 28px;
    top: 23px;
    left: 93px;
    position: absolute;
    z-index: 3;
}

.scanner-copiadora
{
	height: 689px;
	background: url(../images/scanner-bg.jpg) center top no-repeat;
	position: relative;

}

.impressora-canon-4
{

	width: 100%;
	height: 416px;
	background: url(../images/canon_impressora_4.png) center center no-repeat;
	top: 290px;
	position: absolute;
}

.scanner-copiadora .title
{
	color: white;
	font-family: 'exo_2light';
	font-size: 30px;
	text-align: center;
	padding-top: 60px;
	line-height: 28px;
}

.scanner-copiadora strong
{
	font-size: 19px;
}

.pigmento
{
	background-color: #00415d;
	position: relative;
}

.pigmento .overlay2
{
	color: white;
	font-family: 'exo_2light';
	position: absolute;
	left: 400px;
	top: 0;
	background-color: red;
	opacity: 0.5;
	width: 400px;
	height: 600px;
}

.pigmento-features
{
    height: 200px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.pigmento h1
{
	font-family: 'exo_2medium';
	font-weight: normal;
	text-align: center;
	padding-top: 30px;
	color: #f1bb01;
}

.pigmento-features ul
{
	font-family: 'exo_2light';
	margin-left: 80px;

}

.pigmento-features ul li
{
	list-style: none;
	font-size: 22px;
	margin-bottom: 10px;
	list-style: square inside;
}

.pigmento-features h2
{
	text-align: center;
	display: block;
	font-family: 'exo_2light';
	padding-top: 28px;
	padding-bottom: 10px;
	text-shadow: 2px 2px 5px black;
	font-weight: normal;
	color: white;
}

.qualidade
{
	position: absolute;
	background: url(../images/qualidade.png) 0 0 no-repeat;
	width: 440px;
	height: 421px;
	right: 0;
	top: 20px;
}

.feature-3
{
	width: 270px;
	height: 90px;
	background: url(../images/features-4.png) center left no-repeat;
	margin: 0 auto;
	animation: features 5s steps(3) infinite;


}

@keyframes features {
   100% { background-position: -810px; }
}

.timer6000, .timer7000, .timer2000
{
	color: black;
	font-family: 'exo_2bold';
	font-size: 54px;
	text-align: center;
	padding-top: 20px;
	position: absolute;
	right: 20px;
	letter-spacing: -2px;
}

.timer7000
{
	background: url(../images/paginas-coloridas.png) center top no-repeat;
	width: 123px;
	height: 95px;
}
.timer6000
{
	background: url(../images/paginas-pretoebranco.png) center top no-repeat;
	width: 122px;
	height: 95px;
	top: 120px;
}

.timer2000
{
	background: url(../images/paginas-fotos.png) center top no-repeat;
	width: 122px;
	height: 95px;
	top: 475px;
}

/* COMPARISON SLIDER */

.cd-image-container {
  position: relative;
  max-width: 700px;
  margin: 0em auto;
}
.cd-image-container img {
  display: block;
}

span[data-type="modified"], span[data-type="original"]
{
	background-color: black;
	font-family: 'exo_2medium';
}

.cd-image-label {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0.3s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
}
.cd-image-label.is-hidden {
  visibility: hidden;
}
.is-visible .cd-image-label {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  color: white;
}

.cd-resize-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-resize-img img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: auto;
  max-width: none;
}
.cd-resize-img .cd-image-label {
  right: auto;
  left: 0;
  color: white;
}
.is-visible .cd-resize-img {
  width: 50%;
  /* bounce in animation of the modified image */
  -webkit-animation: cd-bounce-in 0.7s;
  -moz-animation: cd-bounce-in 0.7s;
  animation: cd-bounce-in 0.7s;
}

@-webkit-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
@-moz-keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
@keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
.cd-handle {
  position: absolute;
  height: 44px;
  width: 44px;
  /* center the element */
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border-radius: 50%;
  background: #dc717d url("../images/cd-arrows.svg") no-repeat center center;
  cursor: move;
  box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(0);
  -moz-transform: translate3d(0, 0, 0) scale(0);
  -ms-transform: translate3d(0, 0, 0) scale(0);
  -o-transform: translate3d(0, 0, 0) scale(0);
  transform: translate3d(0, 0, 0) scale(0);
}
.cd-handle.draggable {
  /* change background color when element is active */
  background-color: #445b7c;
}
.is-visible .cd-handle {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0s 0.7s;
  -moz-transition: -moz-transform 0.3s 0.7s, opacity 0s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0s 0.7s;
}

.raiox-overlay
{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background: url(../images/raio-x-2.png) rgba(0,0,0,0.8) center top no-repeat;
}

.zoom-overlay
{
	position: absolute;
	width: 800px;
	height: 316px;
	top: 0;
	left:0;
	background: url(../images/zoom-overlay-2.png) center top no-repeat;
	z-index: 1;

}

.garrafa
{
	position: absolute;
	width: 331px;
	height: 347px;
	top: 30px;
	left:355px;
	background: url(../images/garrafa-2.png) center top no-repeat;
	z-index: 0;
}

.bico-overlay {
    position: absolute;
    width: 77px;
    height: 52px;
    top: 372px;
    left: 478px;
    background: url(../images/bico-overlay.png) center top no-repeat;
}

.scanner-flash
{
    background: url(../images/lens-flare2.png) center left no-repeat;
    width: 200px;
    min-height: 80px;
    position: absolute;
    top: 108px;
    left: 50px;
}

.specs
{
	background-color: white;
	color: white;
	font-family: 'exo_2light';
	padding: 20px 40px;
	border-top: 4px solid #999;
	color: #888;

}

.specs h1, .specs h2
{
	display: inline-block;
	font-weight: normal;
	text-shadow: 1px 1px 2px gray;
	color: #888;
	margin-bottom: 0;
}

.specs ul
{
	font-size: 20px;
	color: #888;
	list-style: none;
	padding-left: 10px;
}

.specs ul li
{
	padding-top: 15px;
	border-bottom:  1px solid #E1E1E1;
	height: 35px;
}
.clear
{
	width: 100%;
	clear: both;
}

.col-md-12
{
	width: 100%;
	clear: both;
}
.col-md-6
{
	width: 42%;
	float: left;
	margin-right: 20px;
}

.clique {
    position: absolute;
    top: 170px;
    left: 90px;
}

.img-responsive
{
	width: 100%;
}


.png7000
{
  width: 125px;
  height: 38px;
  background: url(../images/numero7000.png) left center;
  animation: pngsete 3s steps(6) infinite;
  top: 32px;
  position: absolute;
}

.png6000
{
  width: 125px;
  height: 38px;
  background: url(../images/numero6000.png) left center;
  animation: pngsete 3s steps(6) infinite;
  top: 32px;
  position: absolute;
}

.png2000
{
  width: 125px;
  height: 38px;
  background: url(../images/numero2000.png) left center;
  animation: pngsete 3s steps(6) infinite;
  top: 32px;
  position: absolute;
}

@keyframes pngsete {
   100% { background-position: -750px; }
}


.nivel-01 {
    width: 88px;
    height: 73px;
    background: url(../images/nivel-01.png) 0 0 no-repeat;
    position: absolute;
    top: 578px;
    z-index: 2;
    left: 536px;
    opacity: 0;
}

.nivel-02 {
    width: 88px;
    height: 99px;
    background: url(../images/nivel-02.png) 0 0 no-repeat;
    position: absolute;
    top: 552px;
    z-index: 2;
    left: 536px;
    opacity: 0;
}

.nivel-03 {
    width: 88px;
    height: 135px;
    background: url(../images/nivel-03.png) 0 0 no-repeat;
    position: absolute;
    top: 516px;
    z-index: 2;
    left: 536px;
    opacity: 0;
}

.nivel-04 {
    width: 88px;
    height: 183px;
    background: url(../images/nivel-04.png) 0 0 no-repeat;
    position: absolute;
    top: 467px;
    z-index: 2;
    left: 536px;
    opacity: 0;
    
}

.obs
{
	font-size: 12px;
}