/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/06/2017, 13:21:34
    Author     : cintia.masumi
*/

.default1 {
    font-size: 17.5px;
    margin: -10px auto -30px auto;
    font-weight: bold;
    border:none;
    
    //padding: auto auto auto -50px;
}

.submenus0{
    color:#1a1a1a;
    font-size: 13px;
    font-family: inherit;
    margin:-54px 0px -10px 8px;
    padding: 22px 0px 0px 0px;
    text-transform: none;
    
}

.produto-font{
    font-size: 26px;
    line-height: 26px;
    font-weight: normal;
    text-transform: none;
}

.produtobreadcrum{
    
    font-size: 13px;
    color: #a2a2a2;
    text-decoration: none;
    font-family: inherit;
    font-weight: normal;
    text-transform: capitalize;
    line-height: 18px;
}