
/*GERAL*/
.corTitulos{
    color:#e47b38;
}
.corTitulos:hover{
    color:#e47b38;
}

/*MENU TOPO*/
.menu-top2 {
    display: block;
    position: absolute;
    width: 13px;
    height: 12px;
    top: -40px;
    left: 35%;
}

#toTop2 {
    display: none;
    text-decoration: none;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    padding: 10px;
    height: 60px;
    border: none;
    color: #fff;
    font-size: 15px;
    background: #e47b38 url('../../../images/totop.png') center center no-repeat;
}

#toTop3 {
    display: none;
    text-decoration: none;
    position: fixed;
    top: 100px;
    right: 0;
    overflow: hidden;
    padding: 0;
    width: 50px;
    border: none;
    color: #fff;
    font-size: 15px;
}        

/*HOME*/
/*Banners*/
/*Titulos */
.titBanners{
    margin-top: 30px;
    font-size: 23px;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #eee;
    color: #fff;
}

/*Descrição */
.textBanners{
    display: block;
    text-align: justify;
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
    line-height: 18px;
}

/*EMPRESA*/
/*Geral*/
/*Titulo Principal*/
.titEmp{
    margin-top: 40px;
    color: #e47b38;
    height: 30px;
}

/*Menu Esquerdo*/
.bs-example {
    position: relative;
    /*padding: 45px 15px 15px;*/
    margin: 0 -15px 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
	width:100%;
	text-align:left;
}

.bs-example {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
	text-align:left;
}
				
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
	text-align:left;
	width:100%;
}

.btn-group-vertical>.btn:first-child:not(:last-child) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
	text-align:left;
}

.btn-group-vertical>.btn, .btn-group-vertical>.btn-group, .btn-group-vertical>.btn-group>.btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
	text-align:left;
	
}

.btn-group-vertical>.btn, .btn-group>.btn {
    position: relative;
    float: left;
    text-align:left;
}

.btn-default2 {
    color: #878787;
    background-color: #fff;
    text-align:left;
    border-bottom:1px solid #DDD;
}

.btn {
    text-align: center;
    -ms-touch-action: manipulation;
    /*touch-action: manipulation;*/
    cursor: pointer;
}

.btn .caret {float:right;}

.btn-group-vertical>.btn, .btn-group-vertical>.btn-group, .btn-group-vertical>.btn-group>.btn {margin-left:0px;}

