/*GOVERNO*/

@media (min-width: 768px) and (max-width: 979px){
    .marca{
        border:1px solid #eee;
        height: 40px;
    }    
}

@media (min-width: 980px) and (max-width: 1199px){
    .marca{
        border:1px solid #eee;
        height: 50px;
    }  
}

@media (min-width: 1200px){
    .marca{
        border:1px solid #eee;
        height: 60px;
    }    
}

#imgBrother{
    margin-top: 2px;
}
#imgCanon{
    margin-top: 5px;
}
#imgKyocera{
    margin-top: 8px;
}
#imgOki{
    margin-top: 1px;
}