button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin: 5px auto;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    font-size: 13px;
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;    
}

/*Nova Página de Outsourcing*/
.btnForm{
    font: bold 15px verdana, arial, helvetica, sans-serif;
    border: none;
}

.titulosOut{    
    font-size: 15pt;    
    color: #e47b38;
    border: none;
    font-family: inherit;
    font-weight: 700;        
}
.tituloOutMenu{
    margin: -10px auto 0 auto;
    padding: 0;    
}
.tituloOutPrincipal{
    margin: -15px auto 0 auto;
    padding: 0;  
}
.tituloOutForm{
    margin-bottom: 22px;
    margin-top: 0;
}

.conteudoTextoBann{    
    font-size: 9pt;
    color: #777;
    font-weight: 400;
}

.tituloOutBann{
    padding-bottom: 5px;
    margin-bottom: 7px;
    border-bottom: 1px solid #ccc;
    text-transform: none;
    color: #777;
    font-size: 12pt;
    font-weight: 400;
}

.areaSolucoes{
    background-color: #e47b38; 
    margin-right: 7px;
    padding-top: 10px;
}

.txtSolucoes{
    color: #fff;
    font-size: 13pt;
    margin: auto 5px 10px 9px;
}

.selectSolucoes{
    margin-left: 9px;
    font-size: 9pt;
}

.selectSolucoes > option{
    font-size: 10pt;
}

.fontMenu{
    font-size: 12pt;
}

