/*ASSISTENCIA*/
.sessao{
    min-width:280px;    
    cursor:pointer;
    float:left
}

.theme-color-orange-bg{
    background-color:#7f7e7e;
    cursor: pointer;    
}                  
.theme-color-orange-bg:hover {
    background-color:#db7b3e;
    cursor: pointer;
}

.theme-color-red-bg{
    background-color:#7f7e7e;
    cursor: pointer;    
}                    
.theme-color-red-bg:hover {
    background-color:#537f95;
    cursor: pointer;
} 