/*BUSCA*/
/*Resultados*/
.dstqTermo{
    border-bottom: none; 
    margin-bottom: -10px;
}
.dstqResul{
    margin-top: 20px;
}
.resulTopics{
    background-color: #e47b38; 
    border-radius: 4px; 
    color: #FFFFFF;
    padding-top: 4px;
    padding-bottom: 4px;    
}